.block {
	padding-top: 70px;
	padding-bottom: 60px;
}

.about_box  {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about_box_items {
	width: 33%;
}
.about_box_items:first-child {
	align-self: flex-start;
	padding-left: 25px;
	padding-right: 45px;
}
.about_box_items:last-child {
	padding-left: 25px;
	align-self: flex-start;
	padding-right: 45px;
}

.about_block {
	margin-bottom: 80px;
}

.about_block:last-child {
	margin-bottom: 0;
}

.about_title {
	font-size: 30px;
	line-height: 37px;
	color: #433840;
	font-weight: normal;
	margin-bottom:  12px;
}

.about_text {
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: #9A9A9A;
}

.infografic {
	background: #FEA3AC;
	padding: 190px 0;
}
.infografic_box {
	display: flex;
	justify-content: space-between;
}

.infografic_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.infografic_box_items {
	width: 25%;
	color:#fff;
	text-align: center;
}
.infografic_box_icon {
	min-height: 135px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.infografic_box_number {
	font-family: 'Waiting for the Sunrise', cursive;
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: 60px;
	color: #DFEEB6;
}

.infografic_box_title  {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
}

.comanda_box {
	padding:60px 0 120px 0;
}

.comanda_box h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 62px;
	text-align: center;
}
.command_descr	{
	font-family: 'Waiting for the Sunrise', cursive;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 50px;
	color: #F7A1A8;
	text-align: center;
	margin-bottom: 60px;
}


.commandas_block_social li  {
	display: inline-block;
	list-style-type: none;
	margin-right: 5px;
	margin-left: 5px;
}
.commandas_block_social li a {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-size: cover;
}

.commandas_block_social li a[href^="https://www.facebook.com/"]  {
	background: transparent url(/img/social/facebook.png) center center no-repeat;
}

.commandas_block_social li a[href^="https://www.youtube.com/"]  {
	background: transparent url(/img/social/youtube.png) center center no-repeat;
}

.commandas_block_social li a[href^="https://www.instagram.com/"]  {
	background: transparent url(/img/social/instagram.png) center center no-repeat;
}

.commandas_block_social li a[href^="https://twitter.com/"]  {
	background: transparent url(/img/social/twitter.png) center center no-repeat;
}

.comandas_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.comandas_block_items {
	width: calc(50% - 201px);
	background-color: #c9e3f4;
	margin-left: 190px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.comandas_block_items:nth-child(3),
.comandas_block_items:nth-child(2) {
	background-color: #DFEEB6;
}

.comandas_block_number img {
	border-radius: 10em;
	margin-left: -190px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.comandas_block_text {
	margin-left: 17px;
}

.comandas_block_name {
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 37px;
	color: #FFFFFF;
}

.comandas_block_position {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 25px;
	color: #433840;
}

.commandas_block_p {
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	color: #433840;
}


.comandas_block_items:nth-child(3),
.comandas_block_items:nth-child(4) {
margin-left: 0;
margin-right: 190px;

}

.comandas_block_items:nth-child(3) .comandas_block_number,
.comandas_block_items:nth-child(4) .comandas_block_number {
order:2;
}

.comandas_block_items:nth-child(3) .comandas_block_text ,
.comandas_block_items:nth-child(4) .comandas_block_text {
order:1;
margin-left: 0;
margin-right: 17px;
text-align: right;
}
.comandas_block_items:nth-child(3) .comandas_block_number img,
.comandas_block_items:nth-child(4) .comandas_block_number img {
margin-right: -190px;
margin-left: 0;
}

.footer_box {
padding: 0;
margin: 0;
}
.footer_fon {
background: transparent url(/img/footer-fon.jpg) center center no-repeat;
background-size: cover;
position: relative;
min-height: 440px;
}
.footer_fon:before {
	width: 100%;
	height: 100%;

	position: absolute;
	content:'';
	background-color: #433840;
opacity: .85;
}

.footer_line {
background-color: #433840;
padding: 20px 0;
}
.footer_line_box {
	display: flex;
	justify-content: space-between;
}
.footer_line_social li {
	display: inline-block;
	margin: 0 10px;
}
.footer_line_social li a {
color:#DFEEB6;
font-size: 15px;
line-height: 35px;
text-align: right;
}
.footer_line_social li a:hover {
color: darken(#DFEEB6, 10%);
}
.footer_line_box_items .copy {
font-size: 15px;
line-height: 35px;
color: #FFFFFF;
}

.footer_fon_box {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 60px 0 80px 0;
}
.footer_fon_box_item {
width: 33%;
padding-left: 10px;
padding-right: 10px;
	}
	.footer_fon_title {
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
margin-bottom: 30px;
    text-transform: capitalize;
	}
.footer_fon_list li {
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 35px;
color: #FFFFFF;
list-style-type: none;
}

.footer_fon_list li span {
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 35px;
color: #DFEEB6;
}
.footer_fon_locate li {
	list-style-type: none;
}
.footer_fon_locate li span,
.footer_fon_locate li a {
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 35px;
color: #FFFFFF;
}

.footer_fon_locate li a[href^="tel:"]  {
	font-weight: bold;
	text-decoration: none;
}

.footer_fon_locate li a[href^="meilto:"]  {
	font-weight: 500;
}
.footer_fon_locate li span {
font-weight: 400;
}

.footer_insta_list {
display: flex;
flex-wrap: wrap;
list-style-type: none;
justify-content: space-between;
}
.footer_insta_list li {
width: 32%;
	}
	.footer_insta_list li img {
display: inline-block;
width: 100%;
height: auto;
	}