

.header_topline {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 76px;
}
.topline_right li ,
.topline_left li {
	display: inline-block;
}
.topline_right li a,
.topline_left li a {
	font-family: 'Quicksand', sans-serif;
	padding:10px 15px;
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
	color: #433840;
	text-transform: capitalize;
	@include transition(all, 0.4s, ease);
}
.topline_right li a:hover,
.topline_left li a:hover {
	text-decoration: underline;
	color:#fea3ac;
}

.topline_logo {}
.topline_right {}

.baner-slider {
	background: transparent url('/img/baner.jpg') center center no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color:#fff;
}

.baner_decorate {
	position: relative;
	min-height: 400px;
}
.baner_decorate:before {
	width: 100%;
	height: 130px;
	content: '';
	position: absolute;
	top:-2px;
	left:0;
	background: transparent url('/img/slider-decorate/top-decorate.svg') center top repeat-x;
}

.baner_decorate:after {
	width: 100%;
	height: 110px;
	content: '';
	position: absolute;
	bottom:-2px;
	left:0;
	background: transparent url('/img/slider-decorate/botttom-decorate.svg') center bottom repeat-x;
}

.baner-slider h2 {
	font-family: 'Quicksand', sans-serif;
	margin: 10px 0px;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 62px;
}
.baner-slider span {
	font-family: 'Waiting for the Sunrise', cursive;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 50px;
}
.container {
    max-width: 1180px;
    width: 100%;
}
